<app-thm-login></app-thm-login>
<form [formGroup]="angForm" novalidate>
  <div class="login">

    <input type="text" placeholder="username" formControlName="username" #username/><br>
    <div
      *ngIf="angForm.controls['username'].invalid && (angForm.controls['username'].dirty || angForm.controls['username'].touched)"
      class="alert alert-danger">
      <div *ngIf="angForm.controls['username'].errors.required">
        UserName is required.
      </div>
    </div>

    <input type="text" placeholder="Name" formControlName="name" #name/><br>
    <div
      *ngIf="angForm.controls['name'].invalid && (angForm.controls['name'].dirty || angForm.controls['name'].touched)"
      class="alert alert-danger">
      <div *ngIf="angForm.controls['name'].errors.required">
        Name is required.
      </div>
    </div>

    <button type="submit" value="SignIn" [disabled]="angForm.pristine || angForm.invalid"
            (click)="addUser(username.value, name.value)"
    >test</button>

  </div>
</form>
